{# _templates/versions.html #}
{% if versions and (versions.branches or versions.tags) %}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"></span>
      {{ current_version.name if current_version else 'unknown' }}
      <span class="fa fa-caret-down"></span>
    </span>

    <div class="rst-other-versions">
      {% set items = versions.branches | sort(attribute='name', reverse=true) %}

      {% if items %}
      <dl>
        <dt>{{ _('Versions') }}</dt>
        {% for v in items %}
          <dd class="{% if current_version and v.name == current_version.name %}active{% endif %}">
            <a href="{{ v.url }}">{{ v.name }}</a>
          </dd>
        {% endfor %}
      </dl>
      {% endif %}
    </div>
  </div>
{% endif %}